body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background */
}

header {
    background-color: #02366a; /* Dark blue background */
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, #02366a 68%);
    color: #ffffff; /* White text color */
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
    display: flex; /* Enables Flexbox for this container */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    height: 50px; /* Adjust height as needed */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.container {
    display: flex;
    flex-direction: row; /* Correct direction for side-by-side */
    justify-content: space-between; /* This spreads items; might want to adjust based on design */
    align-items: flex-start; /* Keeps items aligned at the start */
    gap: 20px; /* Space between elements */
    padding: 20px; /* Padding inside the container */
    flex-wrap: nowrap; /* Prevents the items from wrapping */
    margin: 0 auto; /* Center the container */
    max-width: 1200px; /* Maximum container width */
}

#pitchLogger {
    flex-basis: 40%; /* Example: Adjust according to your needs */
}

#tabbedArea {
    flex-basis: 60%;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 10px;
}

/* Style the tab content (and hide it by default) */
.tabcontent {
    display: none;
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the tab content area */
.tabbed-area {
    clear: both;
    width: 100%; /* Adjust if necessary */
    margin-top: 20px; /* Space between pitch logger and tabbed area */
}

.tab-buttons {
    display: flex;
    justify-content: center; /* Center the tab buttons */
    padding-bottom: 10px; /* Space between buttons and content */
}

.tabcontent {
    display: none; /* Hide all tab content by default */
    /* Additional styles */
}

#Charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust based on your layout needs */
    gap: 5px 10px; /* Maintains spacing between charts */
    padding: 10px; /* Adds padding inside the charts area */
    border: 2px solid #ddd; /* Encapsulates chartsArea with a border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a floating effect */
    max-width: 90%; /* Adjust based on the desired maximum width within the viewport */
    max-height: 80vh; /* Adjust based on the desired maximum height within the viewport */
    overflow: auto; /* Enables scrolling if content exceeds max-height */
    background-color: #f9f9f9; /* Background color for the charts area */
}

.chart {
    height: auto;
    float: left;
}

@media (max-width: 600px) { /* Adjust breakpoint as needed */
    #Charts {
        grid-template-columns: 1fr; /* Switches to a single column layout */
    }
}

#pitchTable {
    width: 90%; /* Ensures the table uses the full width of its container */
    border-collapse: collapse; /* Optional: Collapses border spacing */
    margin: 10px 0; /* Adds some vertical margin for spacing around the table */
}

#pitchTable th, #pitchTable td {
    padding: 4px; /* Adds padding inside each cell */
    text-align: center; /* Centers the text/data in each cell */
    border: 1px solid #ddd; /* Adds a light border around each cell for better definition */
}

#pitchTable th {
    background-color: #f4f4f4; /* Adds a background color to header cells */
    color: #333; /* Header text color */
}

#pitchTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9; /* Zebra striping for rows */
}

.table-container {
    max-height: 70vh; /* 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}

table {
    width: 100%; /* Make the table take up the full width of the container */
    border-collapse: collapse; /* Optional: for styling */
    font-size: 12px;
}

/* log pitch buttons */
.button-container {
    display: flex;
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: center; /* Aligns items vertically in the center */
}

#logPitchButton, #undoButton {
    margin-right: 10px; /* Adjust spacing between buttons */
}

#exportCsvButton {
    margin-left: 40%; /* Pushes the button to the right */
    /* Reduce margin-left to move it closer to the left buttons */
}

.pitch-button, .result-button, .action-button {
    display: inline-flex;
    justify-content: space-evenly; /* Aligns items to the start */
    flex-wrap: nowrap; /* Allows items to wrap onto the next line as needed */
    gap: 5px; /* Creates space between buttons */
    padding: 5px; /* Adds some padding around the container */
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 14px #d0d0d0,
             -7px -7px 14px #f0f0f0;
    cursor: pointer;
}

.pitch-button:hover {
    background: #bcbec0;
}

.result-button:hover {
    background: #bcbec0;
}

.pitch-button.active, .result-button.active, .action-button.active {
    border-color: red;
    color: black; /* Text color */
    /* other styles for the active state */
}

.dropdownSelector {
    background-color: white;
    color: black;
    padding: 5px;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 8px;
    border: 2px;
    border-color: black;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 14px #d0d0d0,
             -7px -7px 14px #f0f0f0;
    cursor: pointer;
}